@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@font-face{font-family:Satosi;src:url(../font/Satoshi-Light.woff) format('woff');font-weight:300;font-style:normal}
@font-face{font-family:Satosi;src:url(../font/Satoshi-LightItalic.woff) format('woff');font-weight:300;font-style:italic}
@font-face{font-family:Satoshi;src:url(../font/Satoshi-Regular.woff) format('woff');font-weight:400;font-style:normal}
@font-face{font-family:Satoshi;src:url(../font/Satoshi-Italic.woff) format('woff');font-weight:400;font-style:italic}
@font-face{font-family:Satoshi;src:url(../font/Satoshi-Medium.woff) format('woff');font-weight:500;font-style:normal}
@font-face{font-family:Satoshi;src:url(../font/Satoshi-MediumItalic.woff) format('woff');font-weight:500;font-style:italic}
@font-face{font-family:Satoshi;src:url(../font/Satoshi-Bold.woff) format('woff');font-weight:700;font-style:normal}
@font-face{font-family:Satoshi;src:url(../font/Satoshi-BoldItalic.woff) format('woff');font-weight:700;font-style:italic}
@font-face{font-family:Satoshi;src:url(../font/Satoshi-Black.woff) format('woff');font-weight:900;font-style:normal}
@font-face{font-family:Satoshi;src:url(../font/Satoshi-BlackItalic.woff) format('woff');font-weight:900;font-style:italic}
