@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&display=swap');

:root {  
 --c1: #f8f9fa;
 --c2: #212529; 
 --c3: #ced4da;
 --c4: #495057;
 --soc1: #495057;
 --soc2: #ced4da;
 --sizebody:12px;
 --sizetitle:17vw;
 --sizenav:9px;
 --font1: 'Anton', sans-serif;	
 --font2: 'Roboto', sans-serif;
 --font3: 'Cormorant Garamond', sans-serif;
 --marginp:35px;
 --spacingnav:.9vw; 
 --fwnav:400;
 --fwtitle:400;
 --fwbody:400;
 --fwfooter:400;
}

#loader {
 display:grid;
 position:fixed;
 top:0;
 left:0;
 right:0;
 bottom:0;
 background:var(--c2);
 height:100vh;
 z-index:99999999999999; 
}

.textload{
 place-self:center;
 color:var(--c1);
 font-family:var(--font1);
 font-weight:400;
 font-size:28px;
 text-transform:uppercase;
 letter-spacing:-1px;
}

.textload span{
 display:inline-block;
}

.svg-filters {
 position: absolute;
 visibility: hidden;
 width: 1px;
 height: 1px; 
}

.indicator {
 position: absolute;
 top: 92vh;
 transform: translateY(-100%);
 font-size: clamp(48px, 5.5vw, 129px);
 opacity: 0;	
}

.pointer {
 transition-delay: 2s;
 transition: color 4s; 
 color:var(--c4);
 animation: pointDown 2.5s infinite;
}

.photos .pointer{
 color:var(--c3);	
}
	
@keyframes pointDown {
		0% {
			transform: translateY(0);
		}
		10% {
			transform: translateY(20px);
		}
		20% {
			transform: translateY(0);
		}
		30% {
			transform: translateY(20px);
		}
		40% {
			transform: translateY(0);
		}
	}
	
html{
 background: var(--c1);
}
body {
 background-color: var(--c1);
 font-family: var(--font2);
 color: var(--c2);
 font-size: var(--sizebody);
 font-weight:var(--fwbody);
 line-height:1.6;
 word-wrap: break-word;
 text-rendering: optimizeLegibility !important;
 -webkit-font-smoothing: antialiased !important;
 overflow:hidden;
 height:100%;
 position:relative;
 font-variation-settings:"wdth" 150;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h2, h3, h4, h5, h6, h7 {
 font-family:var(--font2);
 font-weight:400;
 letter-spacing:-1px;
}

h2 {
 font-size:25px;
}
h3 {
 font-size:21px;
}
h4 {
 font-size:17px;
}
h5 {
 font-size:13px;
}

.header{
 height:95vh;
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction: column;
} 
h1 { 
 display:inline;
 opacity:0;
 font-family: var(--font1);
 color: var(--c2);
 font-size: var(--sizetitle);
 padding: 0;
 transition-delay: 2s;
 transition: color 4s; 
 line-height:1;
 font-weight:var(--fwtitle);
 text-align:center;
 margin-bottom:0;
 text-transform:capitalize;
 left:-3%;
 letter-spacing:-3px;
}

h1 .char, .sub-title .char{
 visibility:hidden;
}

.photos h1{
 color: var(--c1);
}

.sub-title{
 display:inline-block;
 opacity:0;
 line-height:2.3;
 font-size:13px;
 font-family: var(--font2);
 color: var(--c2);
 font-weight:400;
 transition-delay: 2s;
 transition: color 4s;
 text-align:center;
 text-transform:uppercase;
 visibility:hidden;
}

.photos .sub-title{
  color:var(--c1);
}

a {
    color: inherit;
}
a:hover, a:active{
    opacity:.6;
}

.bg {
    background:inherit;
    min-height: 100vh;
    padding: 0;
    transition: background 0s 2s, color 1.2s;
}

.bio{
 background: var(--c1);
 color: var(--c2);
}

.photos{
 background:var(--c2);
 color: var(--c2);
}

.link-bio{
 background:var(--c3); 
 color:var(--c2);
 border-radius:30px 0 0 30px;
}
.link-photos{
 background:var(--c4);
 color:var(--c1);
 border-radius:0 30px 30px 0;
}

.transition {
    top: 0;
    display: block;
    position: absolute;
    opacity: 0;
    transition: transform 1.2s ease-in-out;
    width: 100%;
    height: 100vh;
    transform: scale(0);
    transform-origin: 0 0;
}

.transition-bio {
 left: 0;
 background: var(--c1);
 transform-origin: 0 0;
}

.transition-photos {
    left: 0;
    background: var(--c2);
    transform-origin: 100% 0;
}

.bio .transition-bio, .photos .transition-photos{
    opacity: 1;
}

.bio .transition-bio {
    transform: scale(1) translateX(0) translateY(0);
}

.photos .transition-photos {
    transform: scale(1) translateX(0) translateY(0);
}

nav {
 position:fixed;
 top:10px;
 left:3%;
 right:3%;
 z-index: 10000;
 font-family: var(--font2);
 visibility:hidden;
 opacity:0;
}

nav ul {
    list-style: none;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;  
}

nav li {
 flex:1 0 .75rem;
}

nav a {    
 display: block;
 color: var(--c2);
 padding:1rem 0 .8rem;
 text-decoration: none;
 text-transform: uppercase;
 font-size: var(--sizenav);
 font-weight: var(--fwnav);
 letter-spacing: var(--spacingnav);
}

nav li a:hover, nav li a:active{
 opacity:1;
}

main {
 position: relative;
 max-width:88%;
 padding:0 0 20px 0;
 overflow:hidden;
 margin:0 auto;
}

.slide-fade-enter-active {
 transition: 0s;
}

.slide-fade-leave-active {
 transition: all 0.35s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from, .slide-fade-leave-to {
 transform: translateY(3rem);
 opacity: 0;
}

.sub1 {
 color: var(--c2);
}

.sub2 {
 color: var(--c1);
}

p.sub1, p.sub2 {
  text-transform:none;
  text-align:justify;
}

p.sub1 {
 color: var(--c2);
}

p.sub2 {
  color: var(--c1);
}

.prolog{
 font-size:var(--sizebody);
 font-weight:700;
 color:var(--c2);
 font-family:var(--font2);
 text-align:justify;
}

.quote {
 font-size:155%;
 font-family:var(--font3);
 font-weight:400;
 color:inherit;
 margin:30px auto;
 max-width:70%;
 text-align:center;
}

.quote span{
 font-style:italic;
 font-size:70%;
 color:inherit;
}

.grid {
 --auto-grid-min-size:10rem;
 display: grid;  
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: masonry;
 gap: 20px;
 box-sizing: border-box;
}

.item {
 position: relative;
 width: 100%;
 visibility: hidden;
 overflow: hidden;
 opacity: 0;
 border-radius:10px;
}

img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 transform-origin:center;
}

.soc {
 margin:0;
 display: grid;
 align-items: center;
 justify-items: center;
}

.soc ul.ico {
 list-style: none;
 display: flex;
 text-align: center;
 margin: 0;
 padding: 0;
}

.soc li.ico {
 display: inline-flex;
 margin:0;
}

.soc a {
 display: block;
 margin:0 .3rem;
}

.sc{
 margin-top:50px;
}
.pl{
 visibility:hidden;
 opacity:0;
}

.one{
 opacity:0;
 margin-top:0;
 margin-bottom:0;
 text-align:center;
 visibility:hidden;
}
.one span{
 display: inline-block;
 opacity:0;
}

.two{
 margin-top:var(--marginp);
 margin-bottom: var(--marginp);
 opacity:0;
 visibility:hidden;
}

.gr {
 position:relative;
 display:block;
 margin:-34px auto -17px auto;
 width:0;
 height:33px;
 opacity:0;
 background:rgba(50, 50, 53, .03);
 transition:background 1s;
 visibility:hidden;
}

.photos .gr{
 background:rgba(236, 236, 239, .03);
 transition:background 1s;
}

ul{
 text-align:justify;
 padding-left:15px;
}

li.about{
 list-style-type:decimal;
 text-align:justify;
}

.footer {
 display: grid;
 place-items: center;
 margin: 23px 0 -14px 0;
 text-align: center;
 font-family: var(--font2);
 font-weight: var(--fwfooter);
}

.footer span {
 color: var(--c2);
 font-size:var(--sizenav);
 text-decoration: none;
}

.photos .footer span, .photos .footer span a {
 color: var(--c1);
}

.footer span, .footer span a {
 text-decoration: none;
}

.footer span a{
 font-weight:var(--fwfooter);     
}

.footer span.fc {
 font-size:var(--sizenav);
 font-weight: var(--fwfooter);
}
@media(min-width:500px){
 main{
  max-width:60%;
  }
 h1{
  font-size:10vw;
 }
}
