:root {  
 --c1: #ececef;
 --c2: #323235;            
 --b1: #EB455F;
 --b2: #ffc712;
 --sizebody:12px;
 --sizetitle:24vw;
 --sizenav:9px;
 --font1:'Road Rage', sans-serif;
 --font2:"Figtree", sans-serif;
 --font3:"DM Mono", monospace;
 --marginp:25px;
 --spacingnav:.9vw; 
 --fwnav:400;
 --fwtitle:400;
 --fwbody:300;
 --fwfooter:400;
}
#preloader {
 display:grid;
 position:fixed;
 top:0;
 left:0;
 right:0;
 bottom:0;
 background:#ececef; 
 height:100vh;
 z-index:99999999999999; 
}
.loader{
  place-self:center;
}
.loader > div{
 place-self:center;
 background-color:#323235;
 width: 4px;
 height: 35px;
 border-radius: 2px;
 margin: 2px 0.5px;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
 display: inline-block;
 -webkit-animation: loader .9s -.6s infinite cubic-bezier(.85,.25,.37,.85);
 animation: loader .9s -.6s infinite cubic-bezier(.85,.25,.37,.85);
}

.loader > div:nth-child(1), .loader > div:nth-child(5) {
    -webkit-animation-delay: -.2s!important;
    animation-delay: -.2s!important;
}

.loader > div:nth-child(2), .loader > div:nth-child(4) {
    -webkit-animation-delay: -.4s!important;
    animation-delay: -.4s!important;
}

@keyframes loader{
    0% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }
    50% {
        -webkit-transform: scaley(0.4);
        transform: scaley(0.4);
    }
    100% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }
}

.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px; 
}

html{
  background: var(--c1);
}
body {
 background-color: var(--c1);
 font-family: var(--font2);
 color: var(--c2);
 font-size: var(--sizebody);
 font-weight:var(--fwbody);
 line-height:1.6;
 word-wrap: break-word;
 text-rendering: optimizeLegibility !important;
 -webkit-font-smoothing: antialiased !important;
 overflow:hidden;
 height:100%;
 position:relative;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, h7 {
 position: relative;
 font-family:var(--font1);
 font-weight:400;
 z-index: 2000;
}

h2 {
 font-size:35px;
}
h3 {
 font-size:30px;
}
h4 {
 font-size:25px;
}
h5 {
 font-size:20px;
}
.header{
 text-align:center;
 display:grid;
 justify-items:center;
 align-items:center;
} 
h1 {
 position: relative;
 display:inline;
 opacity:0;
 transform-origin: top left;
 font-family: var(--font1);
 color: var(--c2);
 font-size: var(--sizetitle);
 padding: 0;
 transition: color 2.5s; 
 line-height:.8;
 letter-spacing:-0.3vw;
 font-weight:var(--fwtitle);
 text-transform:uppercase;
}

.photos h1{
 color: var(--c1);
}

.sub-title{
 display:inline-block;
 opacity:0;
 margin-top:-60px;
 margin-bottom:60px;
 text-align:center;
 text-align-last:center;
 line-height:2.3;
 font-size:9px;
 font-family: var(--font2);
 color: var(--c2);
 font-weight:300;
 transition: color 2.5s;
 text-transform: uppercase;
 word-spacing: calc(0.01vw + 0.1rem);
 letter-spacing: calc(0.3vw + 0.5rem);
}
 
.photos .sub-title{
  color:var(--c1);
}

.ball {
 position:relative;
 display: inline-block;
 width: calc(3vw + .3rem);
 height: calc(3vw + .3rem);
 background-color: var(--b1); 
 top: -30%;
 transition: background-color 2.5s;
 border-radius: 50%;
 opacity: 0;
 margin-left:calc(-2px + .1rem);
}

.photos .ball {
 background-color: var(--b2);
}

a {
    color: inherit;
}
a:hover, a:active{
    opacity:.6;
}

.bg {
    background:inherit;
    min-height: 100vh;
    padding: 0;
    transition: background 0s 2s, color 1.2s;
}

.bio{
 background: var(--c1);
 color: var(--c2);
}

.photos{
 background:var(--c2);
 color: var(--c2);
}

.link-bio{
 background:#b3b4b6; 
 color:var(--c2);
 border-radius:30px 0 0 30px;
}
.link-photos{
 background:#526D82;
 color:var(--c1);
 border-radius:0 30px 30px 0;
}

.transition {
    top: 0;
    display: block;
    position: absolute;
    opacity: 0;
    transition: transform 1.2s ease-in-out;
    width: 100%;
    height: 100vh;
    transform: scale(0);
    transform-origin: 0 0;
}

.transition-bio {
    left: 0;
    background: var(--c1);
    transform-origin: 0 0;
}

.transition-photos {
    left: 0;
    background: var(--c2);
    transform-origin: 100% 0;
}

.bio .transition-bio, .photos .transition-photos{
    opacity: 1;
}

.bio .transition-bio {
    transform: scale(1) translateX(0) translateY(0);
}

.photos .transition-photos {
    transform: scale(1) translateX(0) translateY(0);
}

nav {
 position:fixed;
 top: 10px;
 left: 10px;
 right: 10px;
 z-index: 10000;
 font-family: var(--font2);
 opacity:0;
}

nav ul {
    list-style: none;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;  
}

nav li {
 flex:1 0 .75rem;
}

nav a {    
 display: block;
 color: var(--c2);
 padding:1rem 0 .8rem;
 text-decoration: none;
 text-transform: uppercase;
 font-size: var(--sizenav);
 font-weight: var(--fwnav);
 letter-spacing: var(--spacingnav);
}

nav li a:hover, nav li a:active{
 opacity:1;
}

main {
 position: relative;
 max-width:90%;
 padding:60px 0 20px 0;
 margin: 0 auto 0 auto;
 text-align:center;
}

.slide-fade-enter-active {
 transition: 0s;
}

.slide-fade-leave-active {
 transition: all 0.35s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from, .slide-fade-leave-to {
 transform: translateY(3rem);
 opacity: 0;
}

.sub1 {
 color: var(--c2);
}

.sub2 {
 color: var(--c1);
}

p.sub1, p.sub2 {
  text-transform:none;
  text-align:justify;
}

p.sub1 {
 color: var(--c2);
}

p.sub2 {
  color: var(--c1);
}

.grid {
  --auto-grid-min-size:10rem;
  display: grid;  
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: masonry;
  gap: 17px;
  box-sizing: border-box;
}

.item {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 100%;
  height: auto;
  visibility: hidden;
  overflow: hidden;
  opacity:0;
}

img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 transform-origin:bottom;
}

.soc {
 margin:0;
 display: grid;
 align-items: center;
 justify-items: center;
}

.soc ul.ico {
 list-style: none;
 display: flex;
 text-align: center;
 margin: 0;
 padding: 0;
}

.soc li.ico {
 display: inline-flex;
 margin:0;
}

.soc a {
 display: block;
 margin:0 .3rem;
}

.sc{
 margin-top:50px;
}
.pl{
 opacity:0;
}

.one span{
 display: inline-block;
 margin-top:0;
 margin-bottom:0;
 opacity:0;
}

.two{
 margin-top:var(--marginp);
 margin-bottom: var(--marginp);
 opacity:0;
}

.line {
 position:relative;
 display:block;
 margin:-71px auto 0 auto;
 width:0;
 height:32px;
 opacity:0;
 z-index:1000;
 background:rgba(50, 50, 53, .07);
 transition:all 1.5s;
}

.photos .line{
 background:rgba(236, 236, 239, .07);
 transition:all 1.5s;
}

.prolog{
 font-size:100%;
 font-weight:500;
 color:var(--c2);
 font-family:var(--font3);
 text-align:justify;
 text-transform:uppercase;
}

.quote {
 font-size:150%;
 font-family:var(--font3);
 font-weight:400;
 color:inherit;
 margin:30px auto;
 max-width:70%;
}

.quote span{
 font-family:var(--font3);
 font-style:italic;
 font-size:70%;
 color:inherit;
}
ul{
 margin:0;
 padding:0;
 text-align:justify;
}

li.about{
 list-style-type:decimal;
 text-align:justify;
}

.footer {
 display: grid;
 place-items: center;
 margin: 23px 0 -14px 0;
 text-align: center;
 font-family: var(--font2);
 font-weight: var(--fwfooter);
}

.footer span {
 color: var(--c2);
 font-size:var(--sizenav);
 text-decoration: none;
}

.photos .footer span, .photos .footer span a {
 color: var(--c1);
}

.footer span, .footer span a {
 text-decoration: none;
}

.footer span a{
 font-weight:var(--fwfooter);     
}

.footer span.fc {
 font-size:var(--sizenav);
 font-weight: var(--fwfooter);
}
@media(min-width:500px){
  main{
    max-width:60%;
  }
  h1{
   font-size:calc(16vw + 1rem);
  }
 .sub-title{
  margin-top:-100px;
 }
 .ball{
   width: calc(2.3vw + .3rem);
   height: calc(2.3vw + .3rem);
 }
}
