@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 



:root {

  --colorbase:#000000;

  --dark: #111;

  --light: #f8f5ee;

  --dusk: #d01d16;

  --sub1: #d01d16;

  --sub2: #000000;
  
  --sub3: #CCCCCC;

  --psub1: #FFFFFF;

  --psub2: #000000;
 
  --psub3: #CCCCCC;

  --sizefontbase: 12px;

  --sizetitle: calc(35vw + 1rem);
  
  --sizetitle2: 5vw;

  --sizesubtitle: 8vw;

  --fontnav: 'Barlow Condensed', sans-serif;

  --font1: 'Barlow Condensed', sans-serif;

  --font2: 'Barlow Condensed', sans-serif;

  --font3: 'Raleway', sans-serif;

}

*,

*:before,

*:after {

  box-sizing: border-box;

}

body {

  font-family: var(--font3);

  color: var(--colorbase);

  font-size: var(--sizefontbase);

  line-height: 1.5;

  word-wrap: break-word;

  -webkit-font-smoothing: antialiased;

}

a {

  color: inherit;

}

.bg {

  background: inherit;

  min-height: 100vh;

  padding: 10vh 0 .3rem;

  transition: background 0s 1s, color 0.6s;

}

.projects {

  color: var(--dark);

}

.bg:after {

  content: "";

  position: fixed;

  left: 0;

  top: 0;

  bottom: 0;

  right: 0;

  z-index: 12;

  pointer-events: none;

  transition: 1s;

}

.bio,

.link-bio {

  background: var(--dark);

}

.bio h1 {

  background-color: var(--dusk);

}

.projects,

.link-projects {

  background: var(--light);

}

.find-me,

.link-find-me {

  background: var(--dusk);

}

.transition {

  width: 1rem;

  height: 1rem;

  top: 0;

  display: block;

  position: absolute;

  opacity: 0;

  transition: transform 0.6s ease-in-out;

  width: 100%;

  height: 100%;

  transform: scale(0);

  transform-origin: 0 0;

}

.transition-bio {

  left: 0;

  background: var(--dark);

  transform-origin: 0 0;

}

.transition-projects {

  left: 0;

  background: var(--light);

  transform-origin: 50% 0;

}

.transition-find-me {

  left: 0;

  background: var(--dusk);

  transform-origin: 100% 0;

}

.bio .transition-bio,

.projects .transition-projects,

.find-me .transition-find-me {

  opacity: 1;

}

.bio .transition-bio {

  transform: scale(1) translateX(0) translateY(0);

}

.projects .transition-projects {

  transform: scale(1) translateX(0) translateY(0);

}

.find-me .transition-find-me {

  transform: scale(1) translateX(0) translateY(0);

}

svg {

  display: none;

}

h1 {

  font-family: var(--font1);

  filter: url("#distort");

  text-align: center;

  margin:0 0 3vh 0;

  padding: 5vh 0 1vh 0;

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

  transition: background-position 1.5s, background-color 1.5s;

  font-size: var(--sizetitle);

  font-weight: 800;

  line-height:.3;

  word-wrap: break-word;
  
  text-transform: uppercase;
  
  letter-spacing:-2px;  
}

h1 span{
  font-family: var(--font2);
  background-color:#FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 1.5s, background-color 1.5s;
  font-size: var(--sizetitle2);
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:2px;
}

h1 span.c{
  background-color:#FF6E31!important;
  font-family: var(--font2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 1.5s, background-color 1.5s;
  font-size: var(--sizetitle);
  font-weight:700;
}

.bio h1{
  background-color: var(--light);
}

.bio h1 span{
  background-color: var(--light);
}

.projects h1{
  background-color: var(--dusk);
}

.projects h1 span{
  background-color: var(--dusk);
}

.find-me h1, .find-me h1 span {

  background-color: var(--light);

}

nav {

  position: absolute;

  top: 0;

  left: 0;

  right: 0;

  z-index: 10;

}

nav ul {

  list-style: none;

  display: flex;

  text-align: center;

  margin: 0;

  padding: 0;

}

nav li {

  flex: 1 0 7.5rem;

}

nav a {

  display: block;

  padding: 0.75rem 0 0.5rem;

  color: var(--light);

  text-decoration: none;

  text-transform: uppercase;

  font-size: 0.8rem;

  font-family: var(--fontnav);

  font-weight: 700;
  
  letter-spacing: 1px;

}

nav .link-projects {

  color: var(--dark);

}

main {

  position: relative;

  max-width: 95%;

  padding: 0 1rem;

  margin: 0 auto 0;

  text-align: center;

}

.slide-fade-enter-active {

  transition: all 1s ease;

}

.slide-fade-leave-active {

  transition: all 0.5s;

}

.slide-fade-enter,

.slide-fade-leave-to {

  transform: translateY(2rem);

  opacity: 0;

}

.sub1,

.sub2,

.sub3 {

  font-family: var(--font2);

  font-size: var(--sizesubtitle);

  font-weight: 700;
  
  text-transform: capitalize;

  margin:3vh 0;

  text-align:left;

}

.sub1 {

  color: var(--sub1);

}

.sub2 {

  color: var(--sub2);

}

.sub3 {

  color: var(--sub3);

}

p.sub1,

p.sub2,

p.sub3 {

  font-family: var(--font3);

  font-size: var(--sizefontbase);

  font-weight: 400;

  text-transform:none;

  letter-spacing: .3px;

  text-align: left;

}

p.sub1 {

  color: var(--psub1);

}

p.sub2 {

  color: var(--psub2);

}

p.sub3 {

  color: var(--psub3);

}

.soc {

  position: relative;

  bottom: 0;

  left: 0;

  right: 0;

  z-index: 10;

  margin: 10rem 0 0 0;

}

.soc ul.ico {

  list-style: none;

  display: flex;

  text-align: center;

  margin: 0;

  padding: 0;

  justify-content: center;

}

.soc li.ico {

  display: inline-flex;

  margin: 0 12px;

}

.soc a {

  display: block;

  padding: 0.75rem 0 0.5rem;

  color: var(--dusk);

  text-decoration: none;

  text-transform: uppercase;

  font-size: 22px;

  font-family: var(--fontnav);

  transition: all ease-out 1.6s;
 
  opacity:.6;

}

.soc a:hover, .soc a:active{
  opacity: 1;
}

.projects .soc a {

  color: var(--dusk);

}

.find-me .soc a {

  color: var(--light);

}

.footer {

  position:relative;

  bottom: 0;

  left: 0;

  right: 0;

  margin: 1rem 0 1rem 0;

}

.footer span {

  font-family: var(--font1);

  color: var(--light);

  font-size: 12px;

  font-weight: 700;

  text-decoration: none;

  text-transform: uppercase;

}

.projects .footer span, .projects .footer span a{
  color: var(--dusk);
}

.find-me .footer span, .find-me .footer span a{
  color: var(--light);
}

.footer span, .footer span a{
  text-decoration:none;
}

.footer span.fc{
  color:#FF6E31!important;
  font-family: var(--font1);
  font-size: 12px;
  font-weight:700;
}

.grid {
--auto-grid-min-size: 15rem;
display: grid;
grid-gap: .5rem;
grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
box-sizing: border-box;
}


.item {
  padding: 0;
  background: transparent;
  border-radius: 20px;
  display:inline-flex;
  margin:1rem;


visibility: hidden;
position:relative;
  width: 80%;
  height: 80%;
  max-width: 500px;
  overflow: hidden;
}

img{
width:100%;
height:100%;
border-radius:20px;
  object-fit: cover;
  transform-origin: left;
}


