@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&display=swap');

:root {  
 --white: #fff;
 --dark: #0c0b0e;
 --blue: #40A2E3;
 --green: #bee0ea;
 --soc1: #495057;
 --soc2: #ced4da; 
 --sizebody:12px;
 --sizetitle:17vw;
 --sizenav:9px;
 --font1: 'Anton', sans-serif;	
 --font2: 'Wix Madefor Text', sans-serif;
 --font3: 'Cormorant Garamond', sans-serif;
 --marginp:50px;
 --fwnav:500;
 --fwtitle:400;
 --fwbody:400;
 --fwfooter:500;
}

.co1, .co2, .co3, .co4, .co5, .co6, .co7, .co8, .co9, .co10, .co11, .co12, .co13, .co14, .co15, .co16, .co17, .co18, .co19, .co20, .co21, .co22, .co23, .co24, .co25 {
 position: fixed;
 visibility: visible;
 overflow: hidden;
 opacity: 1;
 background:#141318;
 width:20%;
 height:20%;
}

.co1{
 top:0;
 left:0;
}

.co2{
 top:0;
 left:20%;
}

.co3{
 top:0;
 left:40%;
}

.co4{
 top:0;
 left:60%;
}

.co5{
 top:0;
 left:80%;
}

.co6{
 top:20%;
 left:0;
}

.co7{
 top:20%;
 left:20%;
}

.co8{
 top:20%;
 left:40%;
}

.co9{
 top:20%;
 left:60%;
}

.co10{
 top:20%;
 left:80%;
}

.co11{
 top:40%;
 left:0;
}

.co12{
 top:40%;
 left:20%;
}

.co13{
 top:40%;
 left:40%;
}

.co14{
 top:40%;
 left:60%;
}

.co15{
 top:40%;
 left:80%;
}

.co16{
 top:60%;
 left:0;
}

.co17{
 top:60%;
 left:20%;
}

.co18{
 top:60%;
 left:40%;
}

.co19{
 top:60%;
 left:60%;
}

.co20{
 top:60%;
 left:80%;
}

.co21{
 top:80%;
 left:0;
}

.co22{
 top:80%;
 left:20%;
}

.co23{
 top:80%;
 left:40%;
}

.co24{
 top:80%;
 left:60%;
}

.co25{
 top:80%;
 left:80%;
}

.loader{
 position:fixed;
 z-index:1000;
 height:100%;
 width:100%;
 display:grid;
 place-items:center;
}

.spin{
 position:absolute;
 margin:0 auto;
 height: 20px;
 width: 20px;
 border-radius: 50%;
 border: 1.6px solid #555;
 border-top-color: #99dce2;
 z-index:1000;
 animation: spin 1s linear infinite;
}

@keyframes spin{
  0%{
    transform : rotate(0deg);
  }
  100%{
    transform : rotate(360deg);
  }
}

.spintext{
 position:absolute;
 margin-top:50px;
 font-size:10px;
 font-family:var(--font2);
 color:#99dce2;	 
 z-index:1000;
}

.textload{
 position:absolute;
 color:#99dce2;
 font-family:var(--font1);
 font-weight:400;
 font-size:28px;
 text-transform:uppercase;
 letter-spacing:-1px;
 z-index:1000;
}

.textload span{
 display:inline-block;
 opacity:0;
 visibility:hidden;
}

.svg-filters {
 position: absolute;
 visibility: hidden;
 width: 1px;
 height: 1px; 
}
	
html{
 background: var(--white);
}
body {
 background-color: var(--white);
 font-family: var(--font2);
 color: var(--dark);
 font-size: var(--sizebody);
 font-weight:var(--fwbody);
 line-height:1.5;
 word-wrap: break-word;
 text-rendering: optimizeLegibility !important;
 -webkit-font-smoothing: antialiased !important;
 overflow:hidden;
 height:100%;
 position:relative;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h2, h3, h4, h5, h6, h7 {
 font-family:var(--font2);
 font-weight:500;
 letter-spacing:-1px;
}

h2 {
 font-size:25px;
}
h3 {
 font-size:21px;
}
h4 {
 font-size:17px;
}
h5 {
 font-size:13px;
}

.header{
 height:95vh;
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction: column;
} 
h1 { 
 display:inline;
 opacity:0;
 font-family: var(--font1);
 color: var(--blue);
 font-size: var(--sizetitle);
 padding: 0;
 transition-delay: 2s;
 transition: color 4s; 
 line-height:1.05;
 font-weight:var(--fwtitle);
 text-align:center;
 margin-bottom:0;
 text-transform:none;
 left:-3%;
}

.photos h1{
 color: var(--green);
}

h1 .char, .sub-title .char{
 visibility:hidden;
}

.sub-title{
 display:inline-block;
 opacity:0;
 line-height:2.3;
 font-size:11px;
 font-family: var(--font2);
 color: var(--dark);
 font-weight:400;
 transition-delay: 2s;
 transition: color 4s;
 text-align:center;
}

.photos .sub-title{
  color:var(--green);
}

.indicator {
 position:absolute;
 top:50vh;	
 opacity: 0;
 visibility: hidden;
 left:5px;
}

.textsc{
 font-size:9px;
 font-family:var(--font2);
 color:var(--soc1);
 font-weight:400;
 text-transform:uppercase;
 margin-bottom:7px;
 margin-left:-2.6px;
 transition-duration: 4s;
 writing-mode: vertical-rl;
 text-orientation: mixed;
}
	
.scroll{
 left:0px;
 background: none;
 width: 10px;
 height: 40px;
 border-radius: 32px;
 border: 2px solid var(--soc1);
 transition-delay:2s;
 transition:border-color 4s;
}
	
.mouse {
 position: relative;
 display:block;
 width: 8px;
 height: 25px;
 margin: 0 auto 20px;
 color:var(--soc1);
 transition:color 4s;
 animation: ani-mouse 2s linear infinite;
}
.mouse > * {
 position: absolute;
 display: block;
 top: 0%;
 left: 50%;
 width: 4px;
 height: 18px;
 margin: -3px 0 0 -3px;
 background: var(--soc1);
 border-radius: 6px;
 transition: background-color 2s;
 animation: ani-mouse 2s linear infinite;
}

.photos .scroll{
 border: 2px solid var(--soc2);	
}
.photos .mouse > * {
 background: var(--soc2);	
}

.photos .textsc{
 color:var(--soc2);
}

@keyframes ani-mouse {
	0% {
	opacity: 0;
	top: 10%;
	}
  1% {
	opacity: 1;
	top: 10%;
	}
	50% {
	opacity: 1;
	top: 25%;
	}
	99% {
	opacity: 0;
	top: 25%;
	}
	100% {
	opacity: 0;
	top: 15%;
	}
}

a {
    color: inherit;
}
a:hover, a:active{
    opacity:.6;
}

.bg {
    background:inherit;
    min-height: 100vh;
    padding: 0;
    transition: background 0s 2s, color 1.2s;
}

.bio{
 background: var(--white);
 color: var(--dark);
}

.photos{
 background:var(--dark);
 color: var(--dark);
}

.link-bio{
 background:transparent; 
 color:var(--dark);
 border:1px solid var(--dark);
 border-radius:30px; 
 transition-delay: 1s;
 transition: 2s;
}
.link-photos{
 background:transparent;
 color:var(--dark);
 border:1px solid var(--dark);
 border-radius: 30px;
 transition-delay: 1s;
 transition: 2s;
}

.photos .link-bio, .photos .link-photos{
 color:var(--white);
 border:1px solid var(--white);	
}

.transition {
 top: 0;
 display: block;
 position: absolute;
 opacity: 0;
 transition: transform 1.2s ease-in-out;
 width: 100%;
 height: 100%;
 transform: scaleX(0) scaleY(1);
 transform-origin: 0 0;
}

.transition-bio {
 background: var(--white);
 transform-origin:0 ;
}

.transition-photos {
 background: var(--dark);
 transform-origin:100%;
}

.bio .transition-bio, .photos .transition-photos{
    opacity: 1;
}

.bio .transition-bio {
    transform: scale(1) translateX(0);
}

.photos .transition-photos {
    transform: scale(1) translateX(0);
}
wnav{
 position:fixed;
 top:10px;
 left:17%;
 right:17%;
 z-index: 100;
 padding:10px;
 border-radius:30px;
 background:transparent;
 visibility:hidden;
 opacity:0;
 backdrop-filter: blur(5px);
}
nav { 
 font-family: var(--font2);
}

nav ul {
 list-style: none;
 display: flex;
 text-align: center;
 margin: 0;
 padding: 0;  
}

nav li {
 flex:1 0 .75rem;
 margin:0 5px 0 5px;
}

nav a {    
 display: block;
 color: var(--dark);
 padding:.3rem 0 .17rem;
 text-decoration: none;
 text-transform: uppercase;
 font-size: var(--sizenav);
 font-weight: var(--fwnav);
}

nav li a:hover, nav li a:active{
 opacity:1;
}

li a.active{
 background:#FFBE98;
}

.photos li a.active{
 background:#7469B6;
}

main {
 position: relative;
 max-width:88%;
 padding:0 0 30px 0;
 margin:0 auto;
 overflow:hidden;
}

.slide-fade-enter-active {
 transition: 0s;
}

.slide-fade-leave-active {
 transition: all 0.35s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from, .slide-fade-leave-to {
 transform: translateY(3rem);
 opacity: 0;
}

.sub1 {
 color: var(--dark);
}

.sub2 {
 color: var(--green);
}

p.sub1, p.sub2 {
  text-transform:none;
  text-align:justify;
}

p.sub1 {
 color: var(--dark);
}

p.sub2 {
  color: var(--green);
}

.prolog{
 font-size:var(--sizebody);
 font-weight:700;
 color:var(--dark);
 font-family:var(--font2);
 text-align:justify;
}

.quote {
 margin:var(--marginp) auto -50px auto;
 max-width:70%;
 text-align:center;
 opacity:0;
 visibility:hidden;
 font-family:var(--font3);
}

.quote span{
 display: inline-block;
 opacity:0;
 font-size:157%;
 font-weight:400;
 color:inherit;
}

.cite {
 font-family: var(--font3);
 font-size: 80%;
 font-style: italic;
 color: inherit;
 text-align:center;
 padding-top:10px;
 padding-bottom: var(--marginp);
}

.b-text{
 font-size:180%;
 text-transform:uppercase;
 font-family:var(--font1);
 color:var(--dark);
 font-weight:400;
 text-align:center;
 text-align-last:center;
}

.grid {
 --auto-grid-min-size:10rem;
 display: grid;  
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: masonry;
 gap: 2vw;
 box-sizing: border-box;
}

.item {
 position: relative;
 width: 100%;
 height: 100%;
 visibility: hidden;
 overflow: hidden;
 opacity: 0;
}

img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 transform-origin:center;
}

.soc {
 margin:0;
 display: grid;
 align-items: center;
 justify-items: center;
}

.soc ul.ico {
 list-style: none;
 display: flex;
 text-align: center;
 margin: 0;
 padding: 0;
}

.soc li.ico {
 display: inline-flex;
 margin:0;
}

.soc a {
 display: block;
 margin:0 .3rem;
}

.sc{
 margin-top:50px;
}
.pl{
 visibility:hidden;
 opacity:0;
}

.one{
 opacity:0;
 margin-top:0;
 margin-bottom:0;
 text-align:center;
 visibility:hidden;
}
.one span{
 display: inline-block;
 opacity:0;
}

.two{
 margin-top:var(--marginp);
 margin-bottom: var(--marginp);
 opacity:0;
 visibility:hidden;
}

.aboutme{
 margin-top:0;
 margin-bottom: 0;
 opacity:0;
 visibility:hidden;
}

.gr {
 position:relative;
 display:block;
 margin:-33.5px auto -17px auto;
 width:0;
 height:33px;
 opacity:0;
 background:rgba(50, 50, 53, .03);
 transition:background 1s;
 visibility:hidden;
}

.photos .gr{
 background:rgba(236, 236, 239, .03);
 transition:background 1s;
}

.line {
 position:absolute;
 display:block;
 width:0;
 height:.3px;
 opacity:0;
 background:var(--dark);
 transition:background 1s;
 visibility:hidden;
}

.photos .line{
 background:var(--green);
 transition:background 1s;
}

ul{
 text-align:justify;
 padding-left:14px;
 padding-top:25px;
 padding-bottom: var(--marginp);
}

li.about{
 list-style-type:decimal;
 text-align:justify;
 padding-top:5px;
 margin-bottom:-10px;
}

.footer {
 display: grid;
 place-items: center;
 margin: var(--marginp) 0 0 0;
 text-align: center;
 font-family: var(--font2);
 font-weight: var(--fwfooter);
 opacity: 0;
 visbility: hidden;
}

.footer span {
 color: var(--dark);
 font-size:var(--sizenav);
 text-decoration: none;
}

.photos .footer span, .photos .footer span a {
 color: var(--green);
}

.footer span, .footer span a {
 text-decoration: none;
}

.footer span a{
 font-weight:var(--fwfooter);     
}

.footer span.fc {
 font-size:var(--sizenav);
 font-weight: var(--fwfooter);
}
@media(min-width:500px){
 main{
  max-width:60%;
  }
 h1{
  font-size:10vw;
 }
}
